<div class="row">
  <div class="offset-md-4 col-md-4">
    <h2 class="pt-4 pb-4">Forgot Password</h2>
    <div class="alert alert-success" role="alert" *ngIf="msg != ''">
      {{msg}}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg != ''">
      {{errorMsg}}
    </div>
    <ng-container *ngIf="!showPasswordFields">
      <form class="password-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitFn()">

        <div class="form-group pt-2">
          <label>Email</label>
          <input type="text" class="form-control" name="email" formControlName="email">
          <div class="errormsg"
            *ngIf="!forgotPasswordForm.get('email')?.valid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)">
            Invalid email
            <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">
              email is required
            </div>
          </div>
        </div>
        <div class="form-group pt-2">
          <label>DOB</label>
          <input type="date" class="form-control" name="dob" formControlName="dob">
          <div class="errormsg"
            *ngIf="!forgotPasswordForm.get('dob')?.valid && (forgotPasswordForm.get('dob')?.dirty || forgotPasswordForm.get('dob')?.touched)">
            Invalid password
            <div *ngIf="forgotPasswordForm.get('dob')?.errors?.['required']">
              DOB is required
            </div>
          </div>
        </div>
        <div class="pt-2">
          <button type="submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.valid">Go</button>
          <button type="reset" class="btn btn-primary ms-1">Reset</button>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="showPasswordFields && !passwordChangeCompleted">
      <form class="password-form" [formGroup]="passwordChangeForm" (ngSubmit)="onChangeFn()">
        <div class="form-group pt-2">
          <label>Password</label>
          <input type="password" class="form-control" name="password" formControlName="password">
          <div class="errormsg"
            *ngIf="!passwordChangeForm.get('password')?.valid && (passwordChangeForm.get('password')?.dirty || passwordChangeForm.get('password')?.touched)">
            Invalid password
            <div *ngIf="passwordChangeForm.get('password')?.errors?.['required']">
              Password is required
            </div>
            <div *ngIf="passwordChangeForm.get('password')?.errors?.['minlength']">
              Password Minimum Length should be
              {{passwordChangeForm.get('password')?.errors?.['minlength']?.requiredLength}}
            </div>
          </div>
        </div>
        <div class="form-group pt-2">
          <label>Confirm Password</label>
          <input type="password" class="form-control" name="confirm_password" formControlName="confirm_password">
          <div class="errormsg"
            *ngIf="!passwordChangeForm.get('confirm_password')?.valid && (passwordChangeForm.get('confirm_password')?.dirty || passwordChangeForm.get('confirm_password')?.touched) || passwordChangeForm.errors?.['mismatch']">
            Invalid Confirm password
            <div *ngIf="passwordChangeForm.get('confirm_password')?.errors?.['required']">
              Confirm Password is required
            </div>
            <div *ngIf="passwordChangeForm.get('confirm_password')?.errors?.['minlength']">
              Confirm Password Minimum Length should be
              {{passwordChangeForm.get('confirm_password')?.errors?.['minlength']?.requiredLength}}
            </div>
            <div *ngIf="passwordChangeForm.errors?.['mismatch']">
              Confirm Password does not match
            </div>
          </div>
        </div>
        <div class="pt-2">
          <button type="submit" class="btn btn-primary" [disabled]="!passwordChangeForm.valid">Go</button>
          <button type="reset" class="btn btn-primary ms-1">Reset</button>
        </div>
      </form>
    </ng-container>
  </div>
</div>
