<div class="row">
  <div class="col-md-4"><app-my-posts /></div>
  <div class="col-md-8 mt-4">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Full Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="userList$ | async as userLists; else elseBlock">
          <tr *ngFor="let user of userList$ | async as userLists; index as i">
            <td>{{i + 1}}</td>
            <td>{{user.userDetails.fullname}}</td>

            <td>@if(user.requestedDetails?.requestStatus ==='Pending' && user.requestedDetails?.requestedTo === loggedUser.id){
              <button class="btn btn-warning btn-sm  me-2">Approve Request</button>
              <button class="btn btn-danger btn-sm">Reject Request</button>
              }
              @else if(user.requestedDetails?.requestStatus === 'Pending' && user.requestedDetails?.requestedBy === loggedUser.id){
              <button class="btn btn-sm btn-info">Pending Request</button>
              }@else if(!user.requestedDetails){
              <button class="btn btn-primary btn-sm" (click)="sendRequest(user.userDetails.id)">Send Request</button>
              }@else {
              <span class="btn btn-success btn-sm">Friend</span>
              }
            </td>
          </tr>
        </ng-container>
        <ng-template #elseBlock>
          <tr>
            <td colspan="7">
              No data found
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
