html {
  font-size: 1rem;
}
body {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $grey;
  a,
  .btn-link {
    font-size: 0.875rem;
  }
  section {
    position: relative;
  }
  h2 {
    margin: 20px 0 25px;
    font-size: 22px;
    font-weight: 600;
    color: #404040;
  }
}
