<form class="newpost-form mt-4" #newpostForm="ngForm" (ngSubmit)="newpostForm.form.valid && saveFn(newpostForm)"  novalidate>
  <div class="card mb-4">
      <div class="card-body">
      <div class="form-group pt-2">
        <label>Whats on your mind?</label>
        <textarea class="form-control" name="comments" [(ngModel)]="postObj.comments" required #comments="ngModel"></textarea>
        <div class="errormsg" *ngIf="!comments?.valid && (comments?.dirty || comments?.touched)">
          Invalid comments
          <div *ngIf="comments?.errors?.['required']">
             comments is required
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="pt-2">
        <button type="submit" class="btn btn-primary" [disabled]="newpostForm.invalid">Post</button>
        <button type="reset" class="btn btn-primary ms-1">Reset</button>
      </div>
    </div>
  </div>
</form>
